{% extends 'FoxieAdminBundle::layout.html.twig' %}

{% block topnav %}
    <li><a href="#" class="active">Login</a></li>
{% endblock %}

    {% block leftnav %}{% endblock %}
    
{% block body %}<p>Login form will be here</p>{% endblock %}
